// モジュール
$f_family:'Cabin', sans-serif;
$b_black:#355;
/* 共通 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a{
  color:#fff;
  &:hover{
    color:$b_black;
  }
}
.main{
  // width: 90%;
  // max-width: 1000px;
  margin: 50px auto;
}
/* ヘッダー */
.header{
  font-family: $f_family;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px -3px 10px 2px rgba(10,10,10,0.2);  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #000;
  z-index:30;
  &__nav {
    background-color: #000;
    position: absolute;
    width: 100%;
    bottom:-110vh;
    height: 100vh;
    transition: .7s;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 60px;
      background: #000;
      position: absolute;
      top: -60px;
      clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    }
    &-title{
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 200px;
      color: #fff;
      -webkit-clip-path: polygon(0 0, 70% 0, 25% 100%, 0% 100%);
        clip-path: polygon(0 0, 70% 0, 25% 100%, 0% 100%);
      h1{
        font-size: 100px;
        line-height: 80px;
        background: -webkit-linear-gradient(90deg, $b_black 50%, #000 100%);
        -webkit-background-clip: text;  // VScodeではエラーが起こる、バグ？
        -webkit-text-fill-color: transparent;
        
      }
      p{
        color:$b_black;
        font-size:14px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &__list{
      text-align: center;
      transition: 1.5s;
      opacity: 0;
      width: 80%;
      height: 300px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      li{
        border-bottom: dashed 1px $b_black;
      }
      a{
        font-size:20px;
        letter-spacing: 5px;
        line-height: 30px;
      }
    }
    &-content{
      font-size:12px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      a{
        display: inline-block;
        img{
          width: 30px;
          margin: 10px;
        }
      }
      p{
        margin-top: 10px;
        color: $b_black;
      }
      small{
        font-size: 12px;
        display: block;
        color: #fff;
        bottom:0;
      }
    }
  }
  .menu-btn{
    z-index: 110;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 1s;
    &-line{
      display: block;
      position: absolute;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: #ffffff;
      transition: 1s;
      border-radius: 4px;
    }
    #line1{
      top:0;
    }
    #line2{
      top:14px;
    }
    #line3{
      bottom:0;
    }
  }
}
// menu_js
.header{
  .nav__list-in{
    left: 50%;
    opacity: 1;
  }
  .in{
    transform: translateY(-110vh);
  }
  .line_1 {
    transform: translateY(10px) rotate(-45deg);
  }
  .line_2{
    opacity: 0;
  }
  .line_3 {
    transform: translateY(-18px) rotate(45deg);

  }
}
// authortitle
.author{
  font-family: $f_family;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 200px;
  color: #000;
  -webkit-clip-path: polygon(0 0, 70% 0, 25% 100%, 0% 100%);
  clip-path: polygon(0 0, 70% 0, 25% 100%, 0% 100%);
  h2{
    font-size: 100px;
    line-height: 80px;
  }
  p{
    font-size:14px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
// コンテンツtitle
.title{
  font-family: $f_family;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 200px;
  color: #fff;
  background: #000;
  -webkit-clip-path:polygon(70% 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 25% 100%);
  text-align: right;
  h2{
    position: absolute;
    bottom: -24px;
    right: 0;
    font-size: 100px;
  }
  p{
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
// 画像
.main__img{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 200px 0 0 0;
  &__list{
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  height: 200px;
  position: relative;
  margin: 5px auto;
  filter: grayscale(100%);
  }
  .active{
    filter: initial;
    transition: 0.8s;
  }
  a{
    img{
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    &:hover{
      filter: blur(3px);
      transition: 0.3s;
    }
    }
  }
}

/* フッター */
.footer{
  background:  -webkit-linear-gradient(90deg, $b_black , #000 70%);
  color:#fff;
  text-align: center;
  height: 300px;
  position: relative;
  font-family: $f_family;
  margin-bottom: 60px;
  &::before{
    content:"";
    display: block;
    position: absolute;
    z-index: -1;
    top:-45px;
    background: #000;
    width: 150px;
    height: 50px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
  }
  #back-top{
    display: block;
    position: absolute;
    top:-20px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    color: #5c9c9c;
    &:hover{
      color:#fff;
    }
  }
  &__title{
    font-size: 100px;
    color: $b_black;
    position: absolute;
    right: 0;
    bottom: -20px;
  }
  &__nav{
    padding-top: 30px;
    width: 80%;
    margin: auto;
    li{
    font-size:20px;
    margin: 10px auto;
    border-bottom:  dashed 1px $b_black;
    }
  }
  &-content{
    font-size:12px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    a{
      display: inline-block;
      img{
        width: 30px;
        margin: 10px;
      }
    }
    p{
      font-size: 12px;
      margin-top: 10px;
      color: #000;
    }
    small{
      font-size: 12px;
      display: block;
      color: #fff;
      bottom:0;
    }
  }
}
/* インスタ */
